{% extends 'base.html' %}

{% block title %}{{ super() }} - APP{% endblock %}

{% block content %}

<main role="main">
    <div class="jumbotron">
      <div class="row">
  
        
    <div class="card" style="width: 18rem; margin-top: 35px;" >
      <img src="../static/img/app.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BAIXE JÁ O NOSSO APLICATIVO VIRTUAL SHOPCASE</h5>
        <!-- <p class="card-text">Link</p> -->
      </div>
      <!-- LINK PARA BAIXAR O APLICATIVO -->
      <div class="card-body">
        <a href="#" class="card-link" >Link APP</a>
     </div>
      </div>
    <!-- Icone e descrição beneficios-->
      <div class="media" style="margin-top: 50px;">
      <div class="media-body" style="text-align: center;">
        <h5 class="mt-0 mb-1" >  Chegou o nosso Aplicativo </h5>
        <p style="text-align: center;"> Para você que quer agilidade, conhecimento, produtos de qualidades venha conhecer o nosso Aplicativo.</p>
          <h5 class="mt-0 mb-1" >  Como baixar o APP? </h5>
        <p style="text-align: center;"> Clique no link em baixo da imagem e conheça nosso software. </p>
        <h5 class="mt-0 mb-1" >  Fornecedores </h5>
        <p style="text-align: center;"> Se você quer fazer uma parceria seja nosso fornecer. Entre no app e se cadastre. </p>
        </p>
        <h5 class="mt-0 mb-1" > Clientes </h5>
        <p style="text-align: center;"> Nossos produtos são de qualidade com diversidade. Entre e confira! </p>
        </p>
        <h5 class="mt-0 mb-1" > Preços </h5>
        <p style="text-align: center;"> Temos produtos de qualidade que cabe no seu orçamento! </p>
        </p>
        <h5 class="mt-0 mb-1" > Promoções </h5>
        <p style="text-align: center;"> Confira em tempo real as promoções dos produtos! </p>
        </p>
       </div>
        </div>

    </div>
    </div> <!-- /container -->
    </div>
        
  </main>
  {% endblock %}