{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}
    
    <main role="main">
    
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
   
     
        <div class="container"> 
           <!--Apresentação -->       
            <h1 class="display-3">Virtual ShopCase</h1>            
          <p>A Virtual ShopCase  é uma empresa de fornecimento em prol de tecnogia para ajudar nossos clientes e fornecedores a vender com facilidade seus produtos Online.</p>            
          <p><a class="btn btn-info" btn-lg  href="{{ url_for('sobre')}}" role="button">Saiba Mais</a></p>
         
        </div>
        
      </div>
    
      <div class="container">
        <!-- Example row of columns -->
        <div class="row"> 
   
          <div class="card" style="width: 18rem; margin: auto;" >
            <img src="../static/img/foto1.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Premiado</h5>
              <p class="card-text">Oferecemos apenas as melhores promoções</p>
              <a href="{{ url_for('promocoes')}}" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
          
        <div class="card" style="width: 18rem; margin: auto;">
          <img src="../static/img/foto2.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Atendimento 24 horas</h5>
            <p class="card-text">Verdadeiramente de alto nível</p>
            <a href="{{ url_for('contato')}}" class="btn btn-primary">Clique aqui</a>
          </div>
        </div>
    
        <div class="card" style="width: 18rem; margin: auto;">
          <img src="../static/img/foto3.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Baixe nosso aplicativo</h5>
            <p class="card-text">Tenha nossas ofertas na palma da mão</p>
            <a href="{{ url_for('download_app')}}" class="btn btn-primary">Clique aqui</a>
          </div>
        </div>

        <hr>
    
      </div> <!-- /container -->
    
    </main>
{% endblock %}