<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css">   <title>Virtual ShopCase - Produtos</title>
  <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
  <style>
      body{
        background: url('../static/img/fundo8.gif') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!--Nome do LOGO-->
        <a class="navbar-brand" href="{{ url_for('sobre')}}"><img src="../static/img/logo.jpeg" style="width:120px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('index')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('produtos')}}">Produtos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('contato')}}">Contatos <span class="sr-only">(current)</span></a>
        </li>

         
      </ul>
    </div>
  </nav>
  <br><br><br>
 
  <table id="minhaTabela">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preco</th>
        <th>Descricao</th>
        <th>Imagem</th>
      </tr>
    </thead>
    <tbody>
      {%for produto in produtos%} 
      <tr>
        <td>{{produto['nome_produto']}}</td>
        <td>{{produto['preco']}}</td>
        <td>{{produto['descricao']}}</td>
        <td><a href={{produto['imagem']}}>Imagem</a></td>
      </tr>
      {%endfor%} 
    </tbody>
  </table>
  
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script>
  $(document).ready(function(){
      $('#minhaTabela').DataTable({
          "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
            }
        });
  });
  </script>
  <br><br>
  <footer id="footer">
    <div class="footer" id="footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                  <h3> WEB </h3>
                  <ul>
                      <li> <a href="#"> Brenda do Carmo Ramos</a> </li>
                      <li> <a href="#"> Douglas Santana </a> </li>
                      <li> <a href="#"> Catharina Balliego</a> </li>
                  </ul>
              </div>
              <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                  <h3> API </h3>
                  <ul>
                      <li> <a href="#"> Pedro Henrique Rodrigues </a> </li>
                  </ul>
              </div>
              <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                  <h3> ANDROID </h3>
                  <ul>
                      <li> <a href="#"> Emerson Giovanelli </a> </li>
                  </ul>
              </div>
              <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                  <h3> BANCO DE DADOS </h3>
                  <ul>
                      <li> <a href="#"> Wesley Ferreira </a> </li>
                      <li> <a href="#"> Mateus Mauricio  </a> </li>
                      <li> <a href="#"> Robson Oliveira Gomes </a> </li>
                  </ul>
              </div>
              <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                  <h3> Fale Conosco </h3>
                  <ul>
                      <li>
                          <div class="input-append newsletter-box text-center">
                          </div>
                      </li>
                  </ul>
                  <ul class="social">
                      <li> <a href="https://www.facebook.com/profile.php?id=100051563652275"> <i class=" fa fa-facebook">   </i> </a> </li>
                      <li> <a href="https://www.instagram.com/virtual_shopcase/"> <i class="fa fa-instagram">   </i> </a> </li>
                      <li> <a href="https://api.whatsapp.com/send?phone=s5511953769139&text=sua%20mensagem"> <i class="fa fa-whatsapp"></i><i class="fa fa-whatsapp"></i> </a> </li>
                  </ul>
                  
              </div>
              <p class="pull-left"> Copyright ©  Virtual ShopCase </p>
          
          </div>
          <!--/.row--> 
      </div>
      <!--/.container--> 
  </div>
  <!--/.footer-->
  

    </footer>
        <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    </div>
  </body>
</html>