{% extends 'base.html' %}

{% block title %}{{ super() }} - Promocoes{% endblock %}

{% block content %}   
    <main role="main">
    
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container"> 
           <!--Apresentação -->       
            <h1 class="display-3">PROMOÇÕES   </h1>   
		       
          <p>  A Virtual ShopCase oferece promoções incríveis para toda a família. Confira abaixo!</p>             
        </div>
        
      </div>
    
      <div class="container">
        <!-- Example row of columns -->
        <div class="promocoes">
        <div class="row justify-content-md-center"> 
        	<div class="col-6">
              <img src="../static/img/promo.jpeg" class = "img-responsive" alt="Imagem3" width="400" height="200"/>
          </div>
          <div class="col"><img src="../static/img/promo2.jpeg" class = "img-responsive" alt="Imagem3" width="400" height="200"/></div>
        </div>
      </br>
        <div class="row justify-content-md-center">
          <div class="col"><img src="../static/img/promo3.jpeg" class = "img-responsive" alt="Imagem3" width="400" height="200"/></div>
          <div class="col"><img src="../static/img/promo4.jpeg" class = "img-responsive" alt="Imagem3" width="400" height="200"/></div>
          <div class="col"><img src="../static/img/promo5.jpeg" class = "img-responsive" alt="Imagem3" width="400" height="200"/></div>
        </div>
      </br>
        <div class="row justify-content-md-center">
          <div class="col"><img src="../static/img/promo6.jpeg" class = "img-responsive" alt="Imagem3" width="400" height="200"/></div>
          <div class="col"><img src="../static/img/promo7.jpeg" class = "img-responsive" alt="Imagem3" width="400" height="200"/></div>
        </div>
      </br>
        <div class="row justify-content-md-center">
          <img src="../static/img/promo8.jpeg" class = "img-responsive" alt="Imagem3"  width="400" height="200"/>
        </div>
      </div>
    </div>
  </br>
</main>
{% endblock %}