{% extends 'base.html' %}

{% block title %}{{ super() }} - Quem Somos{% endblock %}

{% block content %}
    
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
   
     
    <div class="container"> 
       <!--Apresentação -->       
        <h1 class="display-3" align="center">NOSSA EMPRESA</h1>            
      <p align="Center"/>  Conheça mais sobre a nossa empresa, confie na qualidade e nas soluções!
<align="Center"/></p>             
    </div>
    
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row"> 

<div class="col-md-4">
        <div class="Foto2">

        <h3>QUEM SOMOS
              </h3>
        <p>A Virtual ShopCase  é uma empresa de fornecimento em prol de tecnogia para ajudar nossos clientes e fornecedores a vender com facilidade seus produtos Online.
    Contamos com uma equipe de profissionais altamente qualificados e capacitados para prover aos nossos clientes e fornecedores as melhores soluções tecnológicas.
    Nossos produtos e soluções são duplamente garantidos, pela equipe de especialistas e pelos nossos fornecedores, líderes mundiais em seus segmentos. Em nossos projetos, visamos a eficiência, 
produtividade, dinamismo, agilidade e busca de melhores resultados. </p>



</div>

</div>

<img src="../static/img/sobre4.jpg"  class = "img-responsive" >




</div>

</div>
<br>
<div class="container">
<!-- Example row of columns -->
<div class="row"> 

<div class="col-md-4">
  <div class="Foto2">

  <h3>MISSÃO
        </h3>
  <p>A Virtual ShopCase  tem como objetivo principal o fornecimento de produtos de qualidade e satisfação plena do 
    cliente para com os pedidos. Neste sentido, o ideal da nossa empresa se configura na qualidade dos produtos, rapidez dos 
    serviços, bom trato aos clientes e, principalmente, honestidade e transparência. </p>



</div>

</div>

<img src="../static/img/sobre2.jpg"  class = "img-responsive" >




</div>

</div>
<br>

{% endblock %}